@page
@model PrivacyModel
@{
    ViewData["Title"] = "About SmartCatalog";
}
<h1>@ViewData["Title"]</h1>

<p>
    Smartcatolog is developed
   <p>Peter Samuel Anibe</p>
<p>Oluwamayomikun Olumuyi Obaromi</p>
   <p>Prince Elishama Michael</p>
   <p>Tyopine Tersoo Michael</p>

