@page
@model IndexModel
@{ ViewData["Title"] = "Smart Catalog"; }

<!-- flipbook markup -->
<div id="flipbook" style="display:none">
    <div class="txt-center">
        <p><h1>Smart Catalog</h1><p>a .NET Projects for students</p></p>
        <a href="http://github.com/sambezalel" target="_blank">Anibe, Mayowa, Tersoo, and Micheal</a>
    </div>
    <!-- GROUP 1 -->
    <div>
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group1/1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">	Online saloon booking system</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <!-- GROUP 2 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group2/1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">	Login Module</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>

    <div>
        <!-- GROUP 3 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group3/1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">	Cricket score Web App</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 4 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group4/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Web application for insert 3 records inside the SQL database table</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 5 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group5/2.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Employee database Web App </h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 6 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">	ASP.NET Server controls</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 7 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group7/1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark"> Programs using ASP.NET Server controls</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 8 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group8/1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Gk business center Automating App</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 9 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group9/1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Chat Application</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 10 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group10/1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark"> Advertisement Application</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 11 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group11/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Nigerian (food) recipe</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 12 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group12/1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Campus android smart messenger</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 13 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark"></h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 14 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group14/1.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Students end of year project management system </h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 15 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark"> </h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 16 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/group16/1.PNG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">E-Exam System</h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 17 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark"></h5>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 18 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark"> </h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#catalog">
                        Details
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- GROUP 19 -->
        <div class="txt-center">
            <div class="card" style="width: 18rem;">
                <img src="assets/image/g19/1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-dark">Catalogue System </h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#catalog">
                        Details
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p>Thanks For Reading our Project Catalog.
        </p>
        <p>We are currently redesigning the Interface and also adding more features to the system.</p>
    </div>
    <div>
        <p>&copy; 2021 CSS327</p>
    </div>
</div>
<!-- /end flipbook markup -->
<!-- Modal Catalog -->
<div class="modal fade" id="catalog" tabindex="-1" role="dialog" aria-labelledby="catalog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="catalog">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>